<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column ">
    <%- include('../partials/loginheader'); %>
    <main>
        <h1 class="cover-heading">Business Reports</h1>
        <h7>Select a report you would like to run</h7>
        <br>


        <!--Section: Block-->
        <section class="mb-4">
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
              <!--Grid column-->
              <div class="col-md-6">
                <form action="/lastMonthRevenueReport" method="post">
                    <input type="submit" class="btn btn-primary btn-block mb-4" value="Last month's revenue">
                </form>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </section>

    </main>  

    <% include('../partials/footer'); %>

    </div>
    <!-- MDB -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>