<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column ">
    <%- include('../partials/loginheader'); %>
    <main>
        <h1 class="cover-heading">Business Report: Last Month's Revenue</h1>
        <h7>Here is all the data showing last month's revenue</h7>
        <br>


        

    </main>  

    <% include('../partials/footer'); %>

    </div>
    <!-- MDB -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>