<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column ">
    <%- include('../partials/loginheader'); %>
    <main>
        <h1 class="cover-heading">Welcome to LV Nail Salon</h1>
        <h7>If you are a returning customer, please enter your phone number</h7>
      <div class="row">
            <form action="/customerlogin" method="post">
                <div class="row justify-content-center">
                  <div class="col-md-6 mb-4">

                <!-- PhoneNumber input -->
                <div class="form-outline mb-4">
                    <input
                    type="text"
                    id="phoneNumber"
                    name="phoneNumber"
                    class="form-control"
                    autocomplete="off"
                    style="
                        background-repeat: no-repeat;
                        background-attachment: scroll;
                        background-size: 16px 18px;
                        background-position: 98% 50%;
                    "
                    />
                    <label
                    class="form-label"
                    for="form2Example1"
                    style="margin-left: 0px"
                    required
                    >Phone Number</label
                    >
                    <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px"></div>
                    <div
                        class="form-notch-middle"
                        style="width: 88.8px"
                    ></div>
                    <div class="form-notch-trailing"></div>
                    </div>
                </div>

                      <!-- Submit button -->
                      <input type="submit" class="btn btn-primary btn-block mb-4" value="Sign in">
                  </form>
        <div class="row">
            <div class="form-outline mb-4">
                New Customer? Sign up with us here
                <br>
                <form action="/signup" method="post">
                    <button type="submit" class="btn btn-primary mb-4">Sign up</button>
                </form>
                
            </div>
        </div>
      </div>

    </main>  

    <% include('../partials/footer'); %>

    </div>
    <!-- MDB -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>