<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>LV Nail Salon</title>
    <!-- Space bg -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Dark MDB theme -->
    <link rel="stylesheet" href="/css/mdb.dark.min.css" />
    <!-- Boostrap 
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />-->
  </head>
</html>
